doctype html
html
	head
		title Sennobia
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content="meta desc")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", type="text/css", href="css/main.css")

	body

		//- put your content here
		header.Page-header#home
			.container
				nav(class='top-nav cf' role='navigation')
					.is-mobile
						.brand
					ul.list-unstyled.grid-flex-container.uppercase
						li.grid-flex-cell
							a(href="#home") Home
						li.grid-flex-cell
							a(href="#about") About
						.brand
						li.grid-flex-cell
							a(href="#products") Products
						li.grid-flex-cell
							a(href="#contact") Contact
		
		section.Product-slider
			.Product-slide.Product-slide--featured.text-center
				h2.animate.fade-in-up.uppercase Regenerating Cream
				p.animate.fade-in-down.is-desktop Designed to help renew vitality, enhance regeneration, firmness, uniformity, uniformity of skin tone, hydration, and radiance.

				
				a(href="https://squareup.com/store/sennobia-cosmetics/item/regenerating-cream", target="_blank").button.button-large.button-blue.uppercase Purchase 
				p $89.00 - 2.0 oz
		
		section.About.text-center#about
			.container
				.About__content
					h2.uppercase Love your skin
					p Sennobia was created for people like you. We provide you the essential ingredients to combat environmental (and other) factors that lead to our skin's abuse. Make Sennobia a part of your daily skin care regimen and you will notice the Sennobia difference. 
					
				h4 Request a free trial today!
				
				a(href="#contact").js-button.button.button-large.button-gold.uppercase Learn More
		

		section.Products#products
			.Products__background
			.Products__content
				h2.uppercase Our Products
				p Our products are designed with you in mind. We pay close attention to the ingredients we use to ensure a rich and luxurious feel before and after use. We offer a full line of facial skin care products that will help maintain as well as rejuvenate your skin.
				p 
					a(href="#gallery").js-button View all products
		
		section.Products-gallery.text-center#gallery
			.grid-flex-container
				.grid-flex-cell
					.Product.Product--left.Product--medium
						h3.uppercase REJUVENATING CREAM
						img(src="img/_rejuv.jpg", alt="")
						p Designed to help enhance, rejuvenate, firmness, uniformity of skin tone, hydration radiance, and tightness of skin to minimize appearance of fine lines and wrinkles on neck and face.
						p $99.00 - 2.0 OZ
						a(href="https://squareup.com/store/sennobia-cosmetics/item/rejuvenating-cream", target="_blank").button.button-blue.uppercase Purchase

				.grid-flex-cell
					.Product.Product--right.Product--medium
						h3.uppercase REGENERATING CREAM
						img(src="img/_regen.jpg", alt="")
						p Designed to help renew vitality, enhance regeneration, firmness, uniformity of skin tone, hydration, and radiance.
						p $89.00 - 2.0 OZ
						a(href="https://squareup.com/store/sennobia-cosmetics/item/regenerating-cream", target="_blank").button.button-blue.uppercase Purchase
		
			.grid-flex-container
				.grid-flex-cell
					.Product.Product--full.Product--large
						h3.uppercase EYE CREAM
						img(src="img/_eye.jpg", alt="")
						p Eye renewal cream works to minimize puffiness, fine lines, wrinkles and dark circles, firms, tones skin.
						p $69.00 - 0.5 OZ
						a(href="https://squareup.com/store/sennobia-cosmetics/item/eye-cream", target="_blank").button.button-blue.uppercase Purchase

	
	
	
	section.Promise
		.Promise__background
		.Promise__content
			h2.uppercase Our Promise
			p The science behind SENNOBIA focuses on a natural approach that is effective to make your skin look and feel fresh and youthful. SENNOBIA was formulated using the best ingredients and perfected by expert cosmetic chemists. Our skin care will give you real results in as little as 3 weeks of using it as directed.



	section.Contact#contact
		.container
			form
				fieldset
					legend Comment Form

					.grid-flex-container
						.grid-flex-cell
							.form-element
								label(for='name') Your Name
								input(type='text', id='name', placeholder='Your name', class='form-input')
						
						.grid-flex-cell
							.form-element
								label(for='email') Your Email
								input(type='text', id='email', placeholder='Your email', class='form-input')

					.grid-flex-container
						.grid-flex-cell
							.form-element
								label(for='comment') Write a comment
								textarea(id='comment', class='form-input', placeholder='This is a sample message')

					button(type='submit', class='button button-gold') Send




	footer.text-center
		.container
			h6 Handcrafted by Sennobia Cosmetics, LLC &bull; Las Vegas, Nevada
			p All information copyright &copy; 2016 | Sennobia Cosmetics, LLC

		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js")
		script(type="text/javascript", src="js/main.js")
