.text-center
  text-align: center

.uppercase
  text-transform: uppercase

.is-mobile
  display: block
  +above($breakpoint-tablet)
    display: none

.is-desktop
  display: none
  +above($breakpoint-tablet)
    display: block
