.top-nav
  font-family: $font-heading
  text-align: center
  ul
    li
      margin-top: 25px
      fs: .85rem
      a
        link: $blue-brand 'lighten'

.brand
  background-image: url(../img/brand.svg)
  background-position: center center
  background-repeat: no-repeat
  background-size: 147px 152px
  display: inline-block
  height: 100px
  margin-top: 10px
  width: 150px
