.Product-slider
  width: 100%

.Product-slide
  background-image: url('../img/_regen.jpg')
  background-position: center center
  background-size: cover
  height: 600px
  padding: 3rem
  width: 100%
  .button
    margin-top: 18rem
    +above($breakpoint-tablet)
      margin-top: 20rem
